.card {
  margin-bottom: 49px;
  flex: 1 1 calc(max(395px, 33.333%) - 32px);
}

.card__image {
  border-radius: 24px;
  width: 100%;
}

.card__text {
  margin-top: 21px;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  align-items: center;
}

.card__text .superhost {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #4f4f4f;
  padding: 6px 9px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
}

.card__text .specs {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #828282;
}

.card__text .rating {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #4f4f4f;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.card__text .material-symbols-outlined {
  color: #eb5757;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.card__text .title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #333333;
  flex-basis: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
