/* Start: CSS reset */
/* Use a more-intuitive box-sizing model.*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin, padding and border. */
/* Remove default styles for fonts. */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* Change default font-size from 16px to 10px, so 1rem = 10px */
:root {
  font-size: 62.5%;
}
/* Accessible line height */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  /* Mulish. Default to system fonts */
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Improve media defaults and make images responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Remove built-in form typograph styles */
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
/* Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* Remove anchor tags default styles */
a {
  color: inherit;
}
/* Remove list items bullets or numbers */
ol,
ul {
  list-style: none;
}
/* End: CSS reset */
